section.about-section
  .wrapper
    .about-section__container
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="1021" height="1275" alt="image")
      img.about-section__icon(src="images/about-section-icon.png" loading="lazy" width="366" height="366" alt="icon")
      h2.about-section__title.font-w-bold.font-s-35.text-up
        span.color-olive О компании 
        | в деталях
      img.about-section__img-owner(src="images/about-section-image-owner.png" loading="lazy" width="828" height="888" alt="image")
      .about-section__text-top.font-w-regular.font-s-24.color-black
        | «ЦЕНТР СОДЕЙСТВИЯ БИЗНЕСУ» с 2009 года оказывает 
        br.no-br
        | услуги бухгалтерского аутсорсинга по всей России. За 15 лет 
        br.no-br
        | работы мы помогли 300 компаниям, а сегодня с нами на 
        br.no-br
        | постоянной основе сотрудничают 110 организаций и ИП, 60 
        br.no-br
        | из которых с нами более 10 лет.
        br
        br
        | Мы ориентированы на результат, поэтому успешное 
        br.no-br
        | развитие бизнеса наших заказчиков является нашим 
        br.no-br
        | ключевым приоритетом. Благодаря многолетнему опыту и 
        br.no-br
        | своевременному реагированию на законодательные 
        br.no-br
        | изменения, наша компания занимает лидирующие позиции 
        br.no-br
        | в сегменте.
        br
        br
        | Наш штат укомплектован профильными специалистами 
        br.no-br
        | (аудиторами, бухгалтерами, налоговыми консультантами, 
        br.no-br
        | аналитиками, юристами, финансовыми экспертами, 
      .font-w-regular.font-s-24.color-black
        | юристами) с профессиональной подготовкой и опытом решения самых сложных задач.
        br
        br
        | Запуск бизнеса в этой сфере остается максимально актуальным, поскольку бухгалтерское 
        | сопровождение требуется каждому ИП или ООО, на любой системе налогообложения, с 
        | сотрудниками или без. Грамотное бухгалтерское сопровождение — это гарантия корректной 
        | работы компании и соответствия ее деятельности законодательству.
