section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__img-agree(src="images/steps-section-img-agree.png" loading="lazy" width="1378" height="1326" alt="image")
      img.steps-section__img-clip(src="images/steps-section-img-clip.png" loading="lazy" width="803" height="763" alt="image")
      img.steps-section__icon(src="images/steps-section-icon.png" loading="lazy" width="366" height="366" alt="icon")
      h2.steps-section__title.font-s-35.font-w-bold.text-up
        | Ознакомьтесь с главными 
        span.color-olive этапами 
        br.no-br
        span.color-olive запуска вашей компании 
        | за 19 дней
      .swiper-steps
        .steps-section__items.swiper-wrapper
          .steps-section__item.swiper-slide
            img.steps-section__item-icon(src="images/steps-section-item-icon.png" loading="lazy" width="55" height="55" alt="icon")
            .font-w-regular.font-s-24.color-black Заключение договора франшизы
          .steps-section__item.swiper-slide
            img.steps-section__item-icon(src="images/steps-section-item-icon.png" loading="lazy" width="55" height="55" alt="icon")
            .font-w-regular.font-s-24.color-black Поиск помещения
          .steps-section__item.swiper-slide
            img.steps-section__item-icon(src="images/steps-section-item-icon.png" loading="lazy" width="55" height="55" alt="icon")
            .font-w-regular.font-s-24.color-black Заключение договора аренды
          .steps-section__item.swiper-slide
            img.steps-section__item-icon(src="images/steps-section-item-icon.png" loading="lazy" width="55" height="55" alt="icon")
            .font-w-regular.font-s-24.color-black Ремонт и оформление помещения
          .steps-section__item.swiper-slide
            img.steps-section__item-icon(src="images/steps-section-item-icon.png" loading="lazy" width="55" height="55" alt="icon")
            .font-w-regular.font-s-24.color-black Поиск персонала
          .steps-section__item.swiper-slide
            img.steps-section__item-icon(src="images/steps-section-item-icon.png" loading="lazy" width="55" height="55" alt="icon")
            .font-w-regular.font-s-24.color-black Доставка и монтаж приобретенного <br> оборудования, мебели
          .steps-section__item.swiper-slide
            img.steps-section__item-icon(src="images/steps-section-item-icon.png" loading="lazy" width="55" height="55" alt="icon")
            .font-w-regular.font-s-24.color-black Обучение персонала
          .steps-section__item.swiper-slide
            img.steps-section__item-icon(src="images/steps-section-item-icon.png" loading="lazy" width="55" height="55" alt="icon")
            .font-w-regular.font-s-24.color-black Официальное открытие
        .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        .font-w-bold.font-s-24.text-up
          | Работаем строго по договору, 
          br.no-br
          | в котором описаны 
          br.no-br
          | наши 
          span.color-olive обязанности 
          | и все 
          br.no-br
          span.color-olive условия сотрудничества
        button.btn.btn--tertiary.steps-item(data-remodal-target="modal-form-agreement") Скачать пример договора
