section.support-section
  .wrapper
    .support-section__container
      h2.support-section__title.font-w-bold.font-s-35.text-up
        span.color-white Основные услуги 
        | нашего центра
      .swiper-support
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide.support-cards-width-medium
            img.support-section__card-icon(src="images/support-section-card-icon-1.png" loading="lazy" width="332" height="322" alt="icon")
            .font-w-medium.font-s-27 Ведение бухгалтерского <br> и налогового учета
          .support-section__card.swiper-slide.support-cards-width-small
            img.support-section__card-icon(src="images/support-section-card-icon-2.png" loading="lazy" width="332" height="322" alt="icon")
            .font-w-medium.font-s-27 Подготовка и <br> сдача отчетности
          .support-section__card.swiper-slide.support-cards-width-large
            img.support-section__card-icon(src="images/support-section-card-icon-3.png" loading="lazy" width="332" height="322" alt="icon")
            .font-w-medium.font-s-27 Ведение <br> кадрового учета
          .support-section__card.swiper-slide.support-cards-width-medium
            img.support-section__card-icon(src="images/support-section-card-icon-4.png" loading="lazy" width="332" height="322" alt="icon")
            .font-w-medium.font-s-27 Абонентское <br> обслуживание
          .support-section__card.swiper-slide.support-cards-width-small
            img.support-section__card-icon(src="images/support-section-card-icon-5.png" loading="lazy" width="332" height="322" alt="icon")
            .font-w-medium.font-s-27 Консультации и <br> поддержка
          .support-section__card.swiper-slide.support-cards-width-large
            img.support-section__card-icon(src="images/support-section-card-icon-6.png" loading="lazy" width="332" height="322" alt="icon")
            .font-w-medium.font-s-27 Общение с <br> контролирующими органами
        .support-pagination.swiper-progress-support
