.support-section
  // background-image: url('../images/support-section-bg.jpg')
  // background-repeat: no-repeat
  // background-position: center
  // background-size: cover
  background-color #9BBD88

  &__container
    position relative
    padding 20px 0 1px 0
    +above($breakpoints.sm)
      padding 50px 0 50px 0
    +above($breakpoints.md)
      padding 90px 0 90px 0
    +above($breakpoints.xxl)
      padding 128px 0 128px 0

  &__title
    padding 0 0 20px 0
    text-align: center
    +above($breakpoints.sm)
      padding 0 0 30px 0
    +above($breakpoints.md)
      padding 0 0 50px 0
    +above($breakpoints.xxl)
      text-align: start
      padding 0 0 77px 0

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-direction: row
      flex-wrap: wrap
      gap: 25px 10px
    +above($breakpoints.md)
      gap: 40px 20px
    +above($breakpoints.xxl)
      gap: 62px 20px

  &__card
    width 285px !important
    text-align: center
    +above($breakpoints.sm)
      width 235px !important
    +above($breakpoints.md)
      width 308px !important

  &__card-icon
    width 70px
    height: auto
    margin 0 auto 20px
    +above($breakpoints.sm)
      width 90px
    +above($breakpoints.md)
      width 130px
    +above($breakpoints.xxl)
      width 166px
      margin 0 auto 35px

.support-cards-width-small
  +above($breakpoints.xxl)
    width 335px !important
.support-cards-width-large
  +above($breakpoints.xxl)
    width 425px !important
.support-cards-width-medium
  +above($breakpoints.xxl)
    width 380px !important

